.leaflet-controllable-image-overlay
  >a
    background-image: url('./leaflet.controllable-image-overlay.enable.png')
    background-repeat: no-repeat
    text-indent: 100%
    overflow: hidden

    &:first-of-type
      border-top-left-radius: 4px
      border-top-right-radius: 4px
    &:last-of-type
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px

  >a.leaflet-disabled
    background-image: url('./leaflet.controllable-image-overlay.disable.png')

  >a.leaflet-controllable-image-overlay-image
    background-position: -27px 5px
  >a.leaflet-controllable-image-overlay-rotate
    background-position: -91px 5px
  >a.leaflet-controllable-image-overlay-scale
    background-position: -123px 5px
  >a.leaflet-controllable-image-overlay-move
    background-position: 5px 5px
  >a.leaflet-controllable-image-overlay-transparent
    background-position: -59px 5px

  &.actions-shown
    .leaflet-controllable-image-overlay-actions
      display: block

  .leaflet-controllable-image-overlay-actions
    display: none
    list-style: none
    position: absolute
    margin: 0
    padding: 0
    top: 0
    white-space: nowrap

    li
      display: inline-block

      input, a
        background-color: #919187
        color: white

      input
        border: 0
        height: 24px
        line-height: 24px
        width: 150px
        padding-left: 5px
        padding-right: 5px
        text-align: center

      a
        border-left: 1px solid #AAA
        border-radius: 0
        width: inherit
        padding-left: 10px
        padding-right: 10px
        font-size: 11px

        &:hover
          background-color: #A0A098

.leaflet-left
  .leaflet-controllable-image-overlay
    &.actions-shown
      >a:first-child
        border-top-right-radius: 0
    .leaflet-controllable-image-overlay-actions
      left: 26px
      box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.65)
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      border-left: 1px solid #ccc

      li:last-child a
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px

.leaflet-right
  .leaflet-controllable-image-overlay
    &.actions-shown
      >a:first-child
        border-top-left-radius: 0
    .leaflet-controllable-image-overlay-actions
      right: 26px
      box-shadow: -2px 2px 5px -2px rgba(0,0,0,0.65)
      border-top-left-radius: 4px
      border-bottom-left-radius: 4px
      border-right: 1px solid #ccc

      input
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px

.leaflet-controllable-image-overlay-tooltip
  display: none
  background: rgb(54, 54, 54)
  background: rgba(0, 0, 0, 0.5)
  border: 1px solid transparent
  border-radius: 4px
  color: #fff
  font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif
  margin-left: 20px
  margin-top: -12px
  padding: 4px 8px
  position: absolute
  visibility: hidden
  white-space: nowrap
  z-index: 6

  &:before
    border-right: 6px solid black
    border-right-color: rgba(0, 0, 0, 0.5)
    border-top: 6px solid transparent
    border-bottom: 6px solid transparent
    content: ""
    position: absolute
    top: 7px
    left: -7px

  &.leaflet-controllable-image-overlay-tooltip-shown
    display: block

  &.leaflet-controllable-image-overlay-tooltip-error
    background-color: #F2DEDE
    border: 1px solid #E6B6BD
    color: #B94A48

    &:before
      border-right-color: #E6B6BD
